.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.features-item {
  width: 264px;
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .features-item {
    width: 356px;
  }
}

.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  border-radius: 4px;
  width: 264px;
  height: 112px;
  border: 1px solid var(--light-slate);
  background-color: var(--cloud);
}

@media only screen and (max-width: 1157.98px) {
  .features-wrapper {
    display: none;
  }
}

.features-subtitle {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

@media only screen and (min-width: 1150px) {
  .features-desc {
    font-weight: 400;
  }
}
