.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;

  background-color: var(--navy-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    image-set('../images/hero-bg_mob.jpg' 1x, '../images/hero-bg_mob@2x.jpg' 2x);
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;

    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        '../images/hero-bg_tab.jpg' 1x,
        '../images/hero-bg_tab@2x.jpg' 2x
      );
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0px;

    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        '../images/hero-bg_desk.jpg' 1x,
        '../images/hero-bg_desk@2x.jpg' 2x
      );
  }
}

.hero-title {
  max-width: 211px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
